<% content_for :stylesheet do %> 
  <%= stylesheet_link_tag "tags" %>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_tag "Tagger.js", :type => "text/javascript" %>
  <script type="text/javascript">
    var newTag;
    window.onload = function() {
      document.getElementById("curr-photo").ondragstart = function(event) {
        event.preventDefault();
      };
      newTag = new Tagger("photo-div", "new-tag", 
                          "originX", "originY", "width", "height");
    }
      
    var reset = function() {
      newTag.reset();
    }
  </script>
<% end %>

<div class="container">
  <div class="new-tag-header"></div>
  <div class="photo-break"></div>
  <%= render partial: "shared/photo_tag", 
      locals: { photo: @photo, new_tag: true, show_tag: false } %> 
  <%= render partial: "new_tag_form", 
      locals: { tag: @tag, users: @users, photo: @photo } %>
</div>
